.zoom-container {
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}

.zoom-container.hovered {
    transform: scale(1.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 1000;
    /* Ensure it appears on top */
}